<div class="col mb-4">
  <div class="card text-white bg-dark">
    <div class="card-body">
      <h3 class="card-title">{{gym.name}}</h3>
      <h4 class="card-subtitle mb-2 text-muted">{{gym.concentration}}</h4>
      <h5 class="card-text">{{gym.address.street}} {{gym.address.city}} {{gym.address.state}} {{gym.address.zip}} <br>
      Hours: {{gym.hours}}
      </h5>
      <button data-id="{{gym._id}}" data-name="{{gym.name}}" data-concentration="{{gym.concentration}}" data-street="{{gym.address.street}}" data-city="{{gym.address.city}}" data-state="{{gym.address.state}}" data-zip="{{gym.address.zip}}" data-hours="{{gym.hours}}" class="btn btn-primary update-gym">Update</button>
      <button data-id="{{gym._id}}" class="btn btn-primary delete-gym">Delete</button>
    </div>
  </div>
</div>

<!-- <div class="gym-card">
   <h3>{{gym.name}}</h3>
   <h4 class="training">{{gym.concentration}}</h4>
   <h5>{{gym.address.street}} {{gym.address.city}} {{gym.address.state}} {{gym.address.zip}}</h5>
   <h6>{{gym.hours}}</h6>
   <button data-id="{{gym._id}}" class="btn btn-primary delete-gym">Delete</button>
   <button data-id="{{gym._id}}" class="btn btn-primary update-gym">Update</button>
</div> -->
