{{#each gyms as |gym|}}
  <div class="gym-card">
     <h3>{{gym.name}}</h3>
     <h4 class="training">{{gym.concentration}}</h4>
     <h5>{{gym.address.street}} {{gym.address.city}} {{gym.address.state}} {{gym.address.zip}}</h5>
     <h6>{{gym.hours}}</h6>
     <button data-id="{{gym._id}}" class="btn btn-primary delete-gym">Delete</button>
     <button data-id="{{gym._id}}" data-name="{{gym.name}}" data-concentration="{{gym.concentration}}" data-street="{{gym.address.street}}" data-city="{{gym.address.city}}" data-state="{{gym.address.state}}" data-zip="{{gym.address.zip}}" data-hours="{{gym.hours}}" class="btn btn-primary update-gym">Update</button>
  </div>
{{/each}}
